.responsiveContainer {
  max-width: 300px;

  @media (min-width: em(400px)) {
    max-width: 400px;
  }

  @media (min-width: em(600px)) {
    max-width: 600px;
  }
}

h1 {
  color: #228be6;
  background-color: #228be625;
  font-size: 1.5em;
  text-align: center;
  border-radius: 0.2em;
}

h2 {
  font-size: 1.25em;
  color: #228be6;

}
